In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ayiti Analytics Data Processing Bootcamp
Ayiti Analytics Data wants to expand its training centers throughout all the communes of the country. Your role as a data analyst is to help them realize this dream.

Its objective is to know which three communes of the country will be the most likely to expand its training centers.

Knowing that each cohort must have 30 students
 
* How many applications must be made to select 25% women for each on average

* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a student to be susceptible to selection
 
* What is the average number of university students who should participate in this program
* What will be the average number of applications per week that we could have
* How many weeks should we extend the application process to select 60 students per commune?
* If we were to do all the bootcamp online, who would be the best communes and how many applications would we need to select 30 student and what percentage of students would have a laptop, an internet connection, both at the same time
* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a women to be susceptible to selection

### NB 
Use the same framework of the BA project to complete this project

In [101]:
df = ['df1','df2','df3']
dataset = ['enroll','industry','ord']
def merging1(dataset) :
    for x in range(0,len(dataset)):
        for i in dataset:
             a = ('{}.csv'.format(i))
             globals()['string%s' % x]  = pd.read_csv(a)
           
    

merging1(dataset)
display(string2)

,Unnamed: 0,created_at,user_id,product_name,product_id,amount_dollars,amount_cents,subscription,coupon_code,coupon_id,affiliate_referral_code,status,quest_id
0,0,2021-03-14T15:34:35.014Z,41587952,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906b3c86-ce95-11eb-b6a7-7c67a234f601
1,1,2021-03-14T04:20:23.483Z,41564742,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906636cf-ce95-11eb-8679-7c67a234f601
2,2,2021-03-12T19:29:22.832Z,41501853,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906968f5-ce95-11eb-9e1a-7c67a234f601
3,3,2021-03-12T14:23:11.154Z,40284930,Entwodiksyon Nan Syans Done,1100636,0,0,False,impact_hub_coupon,6658457.0,NaN,Complete,9060477c-ce95-11eb-ace3-7c67a234f601
4,4,2021-03-11T16:01:17.901Z,40281483,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,9064ff29-ce95-11eb-a3d3-7c67a234f601
5,5,2021-03-03T00:35:29.698Z,34858658,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,9065740c-ce95-11eb-968f-7c67a234f601
6,6,2021-03-01T23:34:27.375Z,40131930,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906a52b7-ce95-11eb-9c4b-7c67a234f601
7,7,2021-02-25T15:36:26.464Z,40411976,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,90617f12-ce95-11eb-a3c8-7c67a234f601
8,8,2021-02-25T04:45:53.407Z,40388669,Entwodiksyon Nan Syans Done,1100636,0,0,False,testing_course_1,6516246.0,NaN,Complete,NaN
9,9,2021-02-24T21:22:15.936Z,40369133,Entwodiksyon Nan Syans Done,1100636,0,0,False,prerequisite_course,6513409.0,NaN,Complete,9061312a-ce95-11eb-ba28-7c67a234f601
10,10,2021-02-23T15:42:17.501Z,40278060,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,9064ff28-ce95-11eb-857f-7c67a234f601
11,11,2021-02-22T19:16:35.371Z,39857484,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,905ec1ec-ce95-11eb-8136-7c67a234f601
12,12,2021-02-20T22:59:46.749Z,40121178,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,NaN
13,13,2021-02-18T14:45:02.292Z,39908510,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,905f5dc1-ce95-11eb-bfa7-7c67a234f601
14,14,2021-02-17T13:48:38.371Z,39903501,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,NaN
15,15,2021-02-17T11:08:54.385Z,39896120,Entwodiksyon Nan Syans Done,1100636,0,0,False,bootcamp_enroll,6452874.0,NaN,Complete,9062b754-ce95-11eb-b31e-7c67a234f601
16,16,2021-02-16T20:09:31.627Z,39856539,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,9069789f-ce95-11eb-9788-7c67a234f601
17,17,2021-01-05T04:00:41.222Z,34856150,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,NaN

In [21]:
dataset

['enroll']

In [8]:
def merging(dataset) :
    import pandas as pd 
    for i in dataset  : 
        i=pd.read_csv( '{}.csv'.format(i))
        display([i].format(i).head())
merging(dataset)

ValueError: too many values to unpack (expected 1)

In [3]:
df = pd.read_csv("enroll.csv")
display(df)
df2 = pd.read_csv("industry.csv")
display(df7)
df3 = pd.read_csv("ord.csv")
Quest =  pd.read_csv("quest.csv")
df5  = pd.read_csv("study_domain.csv")
df6 =  pd.read_csv("technology.csv")
df7 =  pd.read_csv("transaction.csv")
Geo  = pd.read_excel('commune.xlsx', sheet_name= 0)

,Unnamed: 0,created_at,expiry_date,user_id,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at,quest_id
0,0,2020-12-12T06:41:29.844Z,NaN,29816173,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-12T06:41:29.844Z,NaN
1,1,2020-12-13T14:41:17.720Z,NaN,35229766,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-13T14:41:17.720Z,NaN
2,2,2020-12-15T00:53:06.499Z,NaN,31987560,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-15T00:53:06.499Z,NaN
3,3,2020-12-18T18:38:55.683Z,NaN,35616451,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-18T18:38:55.683Z,NaN
4,4,2020-12-21T14:45:06.528Z,NaN,35390649,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-21T14:45:06.528Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,2021-03-14T02:16:08.736Z,2071-03-02T02:16:55.000Z,41508160,Entwodiksyon Nan Syans Done,1047613,0.279070,NaN,False,False,False,2021-03-14T02:18:52.472Z,2021-03-14T02:16:08.000Z,2021-03-14T03:32:18.768Z,906b65e3-ce95-11eb-a294-7c67a234f601
144,144,2021-03-14T04:20:30.803Z,NaN,41564742,Entwodiksyon Nan Syans Done,1047613,0.023256,NaN,False,False,False,2021-03-14T04:22:12.626Z,2021-03-14T04:20:30.786Z,2021-03-14T04:48:39.798Z,906636cf-ce95-11eb-8679-7c67a234f601
145,145,2021-03-14T07:34:09.491Z,2071-03-02T07:34:26.000Z,41569249,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,False,False,NaN,2021-03-14T07:34:09.000Z,2021-03-14T07:34:26.558Z,906241d5-ce95-11eb-9850-7c67a234f601
146,146,2021-03-14T15:34:39.800Z,NaN,41587952,Entwodiksyon Nan Syans Done,1047613,0.325581,NaN,False,False,False,2021-03-14T15:34:56.007Z,2021-03-14T15:34:39.768Z,2021-03-14T17:30:53.379Z,906b3c86-ce95-11eb-b6a7-7c67a234f601
147,147,2021-03-14T17:34:44.861Z,2071-03-02T17:34:52.000Z,41592698,Entwodiksyon Nan Syans Done,1047613,0.046512,NaN,False,False,False,2021-03-14T17:36:13.505Z,2021-03-14T17:34:44.000Z,2021-03-14T17:39:40.547Z,NaN

NameError: name 'df7' is not defined

In [225]:

#print(df4.head())
Quest['department'] = Quest['department'].apply(lambda x  : str(x))
Quest['department']= Quest['department'].apply(lambda x : x.upper())
Quest['commune']= Quest['commune'].apply(lambda x : x.upper())
Quest

table1 = pd.merge(Quest,Geo, how = 'inner',left_on =['department','commune'],right_on = ['ADM1_PCODE','Commune_Id'] )
table1['department'].value_counts().sum()
table1.shape

(248, 22)

In [156]:
#table1.to_csv(r'C:\Users\valci\Desktop\table1.csv',index = False)
print(table1.columns)

Index(['Unnamed: 0', 'gender', 'dob', 'commune', 'created_at', 'modified_at',
       'department', 'education_level', 'university', 'study_domain',
       'current_employed', 'formal_sector_job', 'have_computer_home',
       'internet_at_home', 'hear_AA_1', 'after_AA', 'quest_id', 'Commune_en',
       'Commune_FR', 'Commune_Id', 'Departement', 'ADM1_PCODE'],
      dtype='object')

In [248]:

#y = pd.DataFrame(table1.created_at.str.split('T',1).tolist(),
                         #columns = ['Date_created_at','To_drop'])
#print(np.round(table1.internet_at_home.value_counts(normalize =True),2)*100)
#print(np.round(table1.have_computer_home.value_counts(normalize =True),2)*100)
#np.round(table1.study_domain.value_counts(normalize =True),2)*100
table2 = pd.merge(table1,df5, how = 'inner',left_on =['quest_id'],right_on = ['quest_id'] )
table2.to_csv(r'C:\Users\valci\Desktop\Projet Data Processing\table2.csv',index = False)