In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ayiti Analytics Data Processing Bootcamp
Ayiti Analytics Data wants to expand its training centers throughout all the communes of the country. Your role as a data analyst is to help them realize this dream.

Its objective is to know which three communes of the country will be the most likely to expand its training centers.

Knowing that each cohort must have 30 students
 
* How many applications must be made to select 25% women for each on average

* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a student to be susceptible to selection
 
* What is the average number of university students who should participate in this program
* What will be the average number of applications per week that we could have
* How many weeks should we extend the application process to select 60 students per commune?
* If we were to do all the bootcamp online, who would be the best communes and how many applications would we need to select 30 student and what percentage of students would have a laptop, an internet connection, both at the same time
* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a women to be susceptible to selection

### NB 
Use the same framework of the BA project to complete this project

In [265]:
enroll = pd.read_csv("enroll.csv")
display(df)
industry = pd.read_csv("industry.csv")
display(df7)
order = pd.read_csv("ord.csv")
quest =  pd.read_csv("quest.csv")
study_domain  = pd.read_csv("study_domain.csv")
technology =  pd.read_csv("technology.csv")
transaction =  pd.read_csv("transaction.csv")
Geo  = pd.read_excel('commune.xlsx', sheet_name= 0)

,Unnamed: 0,created_at,expiry_date,user_id,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at,quest_id
0,0,2020-12-12T06:41:29.844Z,NaN,29816173,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-12T06:41:29.844Z,NaN
1,1,2020-12-13T14:41:17.720Z,NaN,35229766,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-13T14:41:17.720Z,NaN
2,2,2020-12-15T00:53:06.499Z,NaN,31987560,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-15T00:53:06.499Z,NaN
3,3,2020-12-18T18:38:55.683Z,NaN,35616451,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-18T18:38:55.683Z,NaN
4,4,2020-12-21T14:45:06.528Z,NaN,35390649,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-21T14:45:06.528Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,2021-03-14T02:16:08.736Z,2071-03-02T02:16:55.000Z,41508160,Entwodiksyon Nan Syans Done,1047613,0.279070,NaN,False,False,False,2021-03-14T02:18:52.472Z,2021-03-14T02:16:08.000Z,2021-03-14T03:32:18.768Z,906b65e3-ce95-11eb-a294-7c67a234f601
144,144,2021-03-14T04:20:30.803Z,NaN,41564742,Entwodiksyon Nan Syans Done,1047613,0.023256,NaN,False,False,False,2021-03-14T04:22:12.626Z,2021-03-14T04:20:30.786Z,2021-03-14T04:48:39.798Z,906636cf-ce95-11eb-8679-7c67a234f601
145,145,2021-03-14T07:34:09.491Z,2071-03-02T07:34:26.000Z,41569249,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,False,False,NaN,2021-03-14T07:34:09.000Z,2021-03-14T07:34:26.558Z,906241d5-ce95-11eb-9850-7c67a234f601
146,146,2021-03-14T15:34:39.800Z,NaN,41587952,Entwodiksyon Nan Syans Done,1047613,0.325581,NaN,False,False,False,2021-03-14T15:34:56.007Z,2021-03-14T15:34:39.768Z,2021-03-14T17:30:53.379Z,906b3c86-ce95-11eb-b6a7-7c67a234f601
147,147,2021-03-14T17:34:44.861Z,2071-03-02T17:34:52.000Z,41592698,Entwodiksyon Nan Syans Done,1047613,0.046512,NaN,False,False,False,2021-03-14T17:36:13.505Z,2021-03-14T17:34:44.000Z,2021-03-14T17:39:40.547Z,NaN

,Unnamed: 0,created_at,modified_at,user_id,course_id,transaction_id
0,0,2021-03-08T05:08:50.832Z,2021-03-08T05:08:50.832Z,40976440,1047613,4641281952
1,1,2021-03-08T17:26:35.841Z,2021-03-08T17:26:35.841Z,41179271,1047613,4644270160
2,2,2021-03-08T18:52:09.147Z,2021-03-08T18:52:09.147Z,40973512,1047613,4645070622
3,3,2021-03-08T19:06:32.837Z,2021-03-08T19:06:32.837Z,41177453,1047613,4645208830
4,4,2021-03-08T22:10:00.796Z,2021-03-08T22:10:00.796Z,40797121,1047613,4646815401
5,5,2021-03-09T07:44:32.357Z,2021-03-09T07:44:32.357Z,40945919,1047613,4648325979
6,6,2021-03-09T16:23:41.405Z,2021-03-09T16:23:41.405Z,41248647,1047613,4650676650
7,7,2021-03-11T17:21:09.148Z,2021-03-11T17:21:09.148Z,41333642,1047613,4665042726
8,8,2021-03-11T18:17:56.004Z,2021-03-11T18:17:56.004Z,40330391,1047613,4665556563
9,9,2021-03-11T19:32:08.362Z,2021-03-11T19:32:08.362Z,41419993,1047613,4666210087
10,10,2021-03-12T16:40:47.723Z,2021-03-12T16:40:47.723Z,41488437,1047613,4672024723
11,11,2021-02-21T19:46:22.624Z,2021-02-21T19:46:22.624Z,39850932,1047613,4545006966
12,12,2021-02-23T20:50:47.515Z,2021-02-23T20:50:47.515Z,40278636,1047613,4558468119
13,13,2021-02-24T14:54:21.891Z,2021-02-24T14:54:21.891Z,40124696,1047613,4562002117
14,14,2021-02-24T14:49:19.752Z,2021-02-24T14:49:19.752Z,40153476,1047613,4561955778
15,15,2021-02-22T17:29:44.762Z,2021-02-22T17:29:44.762Z,39861802,1047613,4549626238
16,16,2021-02-20T22:56:24.236Z,2021-02-20T22:56:24.236Z,40120992,1047613,4540787244
17,17,2021-02-22T17:12:27.102Z,2021-02-22T17:12:27.102Z,39064047,1047613,4549469210
18,18,2021-02-24T14:42:56.637Z,2021-02-24T14:42:56.637Z,40276263,1047613,4561895692
19,19,2021-02-21T16:00:55.063Z,2021-02-21T16:00:55.063Z,40061075,1047613,4543672736
20,20,2021-02-21T15:55:59.689Z,2021-02-21T15:55:59.689Z,40060952,1047613,4543640692
21,21,2021-02-23T02:02:23.482Z,2021-02-23T02:02:23.482Z,39880696,1047613,4553482852
22,22,2021-02-21T21:51:56.290Z,2021-02-21T21:51:56.290Z,40163962,1047613,4545549167
23,23,2021-02-21T06:03:46.665Z,2021-02-21T06:03:46.665Z,40132216,1047613,4542152165
24,24,2021-02-20T12:25:24.229Z,2021-02-20T12:25:24.229Z,39997346,1047613,4535107494
25,25,2021-02-24T15:38:34.262Z,2021-02-24T15:38:34.262Z,39980083,1047613,4562414243
26,26,2021-02-24T01:16:40.567Z,2021-02-24T01:16:40.567Z,40308616,1047613,4560104122
27,27,2021-02-23T15:55:16.310Z,2021-02-23T15:55:16.310Z,39938142,1047613,4555830382
28,28,2021-02-18T14:04:48.071Z,2021-02-18T14:04:48.071Z,39971926,1047613,4520856112
29,29,2021-02-16T14:04:48Z,2021-02-16T14:04:48Z,39845142,1047613,4510392325
30,30,2021-02-19T00:47:03.242Z,2021-02-19T00:47:03.242Z,40009010,1047613,4526741062
31,31,2021-02-18T15:21:09.568Z,2021-02-18T15:21:09.568Z,39976529,1047613,4521618520
32,32,2021-02-16T14:04:48Z,2021-02-16T14:04:48Z,39844839,1047613,4510094932
33,33,2021-02-18T22:06:50.519Z,2021-02-18T22:06:50.519Z,39992231,1047613,4525710654
34,34,2021-02-12T14:04:48Z,2021-02-12T14:04:48Z,39181155,1047613,4487723500
35,35,2021-02-24T16:53:17.136Z,2021-02-24T16:53:17.136Z,39944179,1047613,4563085912
36,36,2021-02-24T19:23:15.135Z,2021-02-24T19:23:15.135Z,40218975,1047613,4564385707
37,37,2021-02-24T19:37:18.806Z,2021-02-24T19:37:18.806Z,40363382,1047613,4564503261
38,38,2021-02-25T23:57:16.634Z,2021-02-25T23:57:16.634Z,40299599,1047613,4573740021
39,39,2021-02-27T20:01:27.976Z,2021-02-27T20:01:27.976Z,40551114,1047613,4586001394
40,40,2021-02-28T22:23:17.083Z,2021-02-28T22:23:17.083Z,40487386,1047613,4592358324
41,41,2021-03-02T02:49:24.780Z,2021-03-02T02:49:24.780Z,40690080,1047613,4600622901
42,42,2021-03-02T18:53:20.759Z,2021-03-02T18:53:20.759Z,40734954,1047613,4604565067
43,43,2021-03-02T21:28:21.815Z,2021-03-02T21:28:21.815Z,40387704,1047613,4605945442
44,44,2021-03-03T01:00:21.024Z,2021-03-03T01:00:21.024Z,40757540,1047613,4607332150
45,45,2021-03-03T13:38:57.368Z,2021-03-03T13:38:57.368Z,40577040,1047613,4608735868
46,46,2021-03-03T14:38:09.225Z,2021-03-03T14:38:09.225Z,40796608,1047613,4609291580
47,47,2021-03-03T23:00:11.974Z,2021-03-03T23:00:11.974Z,40117659,1047613,4613706593
48,48,2021-03-04T02:08:06.582Z,2021-03-04T02:08:06.582Z,30768016,1047613,4614708197
49,49,2021-03-04T18:01:35.651Z,2021-03-04T18:01:35.651Z,40878059,1047613,4618323945
50,50,2021-03-05T21:34:14.240Z,2021-03-05T21:34:14.240Z,40893642,1047613,4626944100
51,51,2021-03-05T21:49:43.238Z,2021-03-05T21:49:43.238Z,40968395,1047613,4627055633
52,52,2021-03-07T12:43:08.911Z,2021-03-07T12:43:08.911Z,40336912,1047613,4636816588
53,53,2021-03-12T20:25:22.517Z,2021-03-12T20:25:22.517Z,41504542,1047613,4674188074
54,54,2021-03-12T20:33:14.700Z,2021-03-12T20:33:14.700Z,40618692,1047613,4674266385
55,55,2021-03-13T00:48:13.726Z,2021-03-13T00:48:13.726Z,40008926,1047613,4676272962
56,56,2021-03-13T03:54:12.406Z,2021-03-13T03:54:12.406Z,41328544,1047613,4676841317
57,57,2021-03-14T02:16:08.983Z,2021-03-14T02:16:08.983Z,41508160,1047613,4684296558
58,58,2021-03-14T07:34:09.638Z,2021-03-14T07:34:09.638Z,41569249,1047613,4684607655
59,59,2021-03-14T17:34:45.179Z,2021-03-14T17:34:45.179Z,41592698,1047613,4687103864

In [495]:

Quest['department'] = Quest['department'].apply(lambda x  : str(x))
Quest['department']= Quest['department'].apply(lambda x : x.upper())
Quest['commune']= Quest['commune'].apply(lambda x : x.upper())
Quest

table1 = pd.merge(Quest,Geo, how = 'left',left_on =['department','commune'],right_on = ['ADM1_PCODE','Commune_Id'])

,Unnamed: 0,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,...,have_computer_home,internet_at_home,hear_AA_1,after_AA,quest_id,Commune_en,Commune_FR,Commune_Id,Departement,ADM1_PCODE
0,0,male,25/08/1998,HT0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NAN,unknown,unknown,[],...,unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601,NaN,NaN,NaN,NaN,NaN
28,28,male,13/02/1977,HT0111,2021-02-21T22:33:55.442235Z,2021-02-21T22:33:55.442302Z,HT03,Bachelors (bacc +4),other,['item1'],...,Yes,Yes,Friend,Finding a job/internship,9060617e-ce95-11eb-bd26-7c67a234f601,NaN,NaN,NaN,NaN,NaN

In [486]:

table1['department'].isna().sum()

0

In [418]:
#table1.to_csv(r'C:\Users\valci\Desktop\table1.csv',index = False)
print(table1.columns)

Index(['Unnamed: 0', 'gender', 'dob', 'commune', 'created_at', 'modified_at',
       'department', 'education_level', 'university', 'study_domain',
       'current_employed', 'formal_sector_job', 'have_computer_home',
       'internet_at_home', 'hear_AA_1', 'after_AA', 'quest_id', 'Commune_en',
       'Commune_FR', 'Commune_Id', 'Departement', 'ADM1_PCODE'],
      dtype='object')

In [340]:

y = pd.DataFrame(table1.created_at.str.split('T',1).tolist(),
                         columns = ['Date_created_at','To_drop'])
#print(np.round(table1.internet_at_home.value_counts(normalize =True),2)*100)
#print(np.round(table1.have_computer_home.value_counts(normalize =True),2)*100)
#np.round(table1.study_domain.value_counts(normalize =True),2)*100
table2 = pd.merge(table1,study_domain, how = 'inner',left_on =['quest_id'],right_on = ['quest_id'] )
table2.to_csv(r'C:\Users\valci\Desktop\Projet Data Processing\table2.csv',index = False)
table2.set_index('quest_id')
y = pd.DataFrame(table1.created_at.str.split('T',1).tolist(),
                         columns = ['Date_created_at','To_drop'])
del y['To_drop']  
table2['created_at'] = y 
table2  =   pd.merge(table2,industry, how = 'inner',left_on =['quest_id'],right_on = ['quest_id'] )
table2
table2=table2.rename(columns = {'values_y':'Industry Domain','values_x': 'Study Domain'})
table2.columns

Index(['Unnamed: 0_x', 'gender', 'dob', 'commune', 'created_at', 'modified_at',
       'department', 'education_level', 'university', 'study_domain',
       'current_employed', 'formal_sector_job', 'have_computer_home',
       'internet_at_home', 'hear_AA_1', 'after_AA', 'quest_id', 'Commune_en',
       'Commune_FR', 'Commune_Id', 'Departement', 'ADM1_PCODE', 'Unnamed: 0_y',
       'key_x', 'Study Domain', 'Unnamed: 0', 'key_y', 'Industry Domain'],
      dtype='object')

In [419]:
table3=pd.merge(enroll,transaction, how = 'right',left_on =['user_id'],right_on = ['user_id'] )
table4 =pd.merge(enroll,order, how = 'right',left_on =['user_id'],right_on = ['user_id'] )
table3['Payment Method'] = 'Moncash'
table4['Payment Method'] = 'Credit Card/Paypal'

x = table4.loc[:,['Payment Method','quest_id_y']]
y = table3.loc[:,['Payment Method','quest_id']]
x=x.rename(columns = {'quest_id_y': 'quest_id'})
z
final = pd.merge(table2,z,how = 'left', left_on = 'quest_id', right_on= 'quest_id')
final.to_csv(r'C:\Users\valci\Desktop\Projet Data Processing\final.csv',index = False)
final

,Unnamed: 0_x,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,...,Commune_Id,Departement,ADM1_PCODE,Unnamed: 0_y,key_x,Study Domain,Unnamed: 0,key_y,Industry Domain,Payment Method
0,1,female,29/09/1996,HT0111,2021-02-16,2021-02-16T16:01:10.861899Z,HT01,Bachelors (bacc +4),other,['other'],...,HT0111,West,HT01,0,other,other,0,item1,Finance,NaN
1,3,male,24/11/1996,HT0111,2021-02-16,2021-02-16T16:57:55.754582Z,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",...,HT0111,West,HT01,1,item1,Computer Science,6,item8,Retail/ E-Commerce,NaN
2,3,male,24/11/1996,HT0111,2021-02-16,2021-02-16T16:57:55.754582Z,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",...,HT0111,West,HT01,1,item1,Computer Science,7,item12,Marketing,NaN
3,3,male,24/11/1996,HT0111,2021-02-16,2021-02-16T16:57:55.754582Z,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",...,HT0111,West,HT01,1,item1,Computer Science,8,item6,Technology (Software/ Internet),NaN
4,3,male,24/11/1996,HT0111,2021-02-16,2021-02-16T16:57:55.754582Z,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",...,HT0111,West,HT01,1,item1,Computer Science,9,item5,Education,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,247,male,28/12/1993,HT0621,NaN,2021-03-14T15:29:32.474055Z,HT06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],...,HT0621,Centre,HT06,284,item2,Statistics,802,item4,Public Sector/ Non-Profit Agencies,Credit Card/Paypal
954,248,male,17/04/1992,HT0412,NaN,2021-03-08T16:35:07.806161Z,HT04,Bachelors (bacc +4),other,['item1'],...,HT0412,North-East,HT04,285,item1,Computer Science,803,item6,Technology (Software/ Internet),Moncash
955,249,male,22/07/1993,HT1012,NaN,2021-03-10T21:41:05.708787Z,HT10,Masters,other,['other'],...,HT1012,Nippes,HT10,286,other,other,804,item3,Consulting,Moncash
956,249,male,22/07/1993,HT1012,NaN,2021-03-10T21:41:05.708787Z,HT10,Masters,other,['other'],...,HT1012,Nippes,HT10,286,other,other,805,item5,Education,Moncash
957,249,male,22/07/1993,HT1012,NaN,2021-03-10T21:41:05.708787Z,HT10,Masters,other,['other'],...,HT1012,Nippes,HT10,286,other,other,806,item4,Public Sector/ Non-Profit Agencies,Moncash

In [420]:

#final.reset_index(inplace = True ,level = 0)
#del final['Unnamed: 0_y']
final.to_csv(r'C:\Users\valci\Desktop\Projet Data Processing\final1.csv',index = False)
final =final.loc[:,['gender','dob','commune','created_at','department','education_level','university','current_employed','formal_sector_job','have_computer_home','internet_at_home','hear_AA_1','after_AA','quest_id','Commune_en','Commune_Id','Departement','Study Domain','Payment Method']]

In [412]:
final[final['quest_id'] == '905e4cf5-ce95-11eb-96a9-7c67a234f601']

,gender,dob,commune,created_at,department,education_level,university,current_employed,formal_sector_job,have_computer_home,internet_at_home,hear_AA_1,after_AA,quest_id,Commune_en,Commune_Id,Departement,Study Domain,Payment Method
1,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Computer Science,NaN
2,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Computer Science,NaN
3,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Computer Science,NaN
4,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Computer Science,NaN
5,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Computer Science,NaN
6,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Management,NaN
7,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Management,NaN
8,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Management,NaN
9,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Management,NaN
10,male,24/11/1996,HT0111,2021-02-16,HT01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601,Port-au-Prince,HT0111,West,Management,NaN

In [401]:
Table_clean=final.drop_duplicates()

In [429]:
Table_clean['Commune_en'].value_counts()

Delmas                            79
Port-au-Prince                    66
Carrefour                         28
Petion-Ville                      28
Tabarre                           15
Croix-Des-Bouquets                11
Cap-Haitien                        6
Jacmel                             5
Saint-Marc                         4
Verrettes                          4
Mirebalais                         3
Ouanaminthe                        3
Cite Soleil                        3
Aquin                              2
Leogane                            2
Dondon                             2
Gressier                           2
Grand-Goave                        1
Petite Riviere de Nippes           1
Port-Salut                         1
Gros Morne                         1
Caracol                            1
Kenscoff                           1
Plaine du Nord                     1
Sainte Suzanne                     1
Mombin Crochu                      1
Petite Riviere de l'Artibonite     1
Petit-Goave                        1
Ganthier                           1
Hinche                             1
Les Cayes                          1
Saint-Louis du Nord                1
Ferrier                            1
Cornillon / Grand Bois             1
Limonade                           1
Name: Commune_en, dtype: int64